In [156]:
import pandas as pd

In [157]:
df_final = pd.read_csv("banco_mundial_data_indicator_to_row.csv")
df_indicadores = pd.read_csv("indicadores.csv")

In [158]:
mi_diccionario = df_indicadores.set_index('cod_indicator')['name_indicator'].to_dict()
mi_diccionario

{'SP.DYN.LE00.IN': 'Life expectancy at birth, total (years)',
 'SP.DYN.LE00.FE.IN': 'Life expectancy at birth, female (years)',
 'SP.DYN.LE00.MA.IN': 'Life expectancy at birth, male (years)',
 'SP.POP.GROW': 'Population growth (annual %)',
 'SP.RUR.TOTL.ZG': 'Rural population growth (annual %)',
 'SP.URB.GROW': 'Urban population growth (annual %)',
 'SP.POP.TOTL': 'Population, total',
 'SP.URB.TOTL': 'Urban population',
 'SP.RUR.TOTL': 'Rural population',
 'SP.POP.TOTL.MA.IN': 'Population, male',
 'SP.POP.TOTL.FE.IN': 'Population, female',
 'SP.POP.0014.TO': 'Population ages 0-14, total',
 'SP.POP.0014.MA.IN': 'Population ages 0-14, male',
 'SP.POP.0014.FE.IN': 'Population ages 0-14, female',
 'SP.POP.1564.TO': 'Population ages 15-64, total',
 'SP.POP.1564.MA.IN': 'Population ages 15-64, male',
 'SP.POP.1564.FE.IN': 'Population ages 15-64, female',
 'SP.POP.65UP.TO': 'Population ages 65 and above, total',
 'SP.POP.65UP.MA.IN': 'Population ages 65 and above, male',
 'SP.POP.65UP.FE.IN': 'Population ages 65 and above, female',
 'NY.GDP.PCAP.KD.ZG': 'GDP per capita growth (annual %)',
 'NY.GDP.PCAP.CD': 'GDP per capita (current US$)',
 'NY.GDP.DEFL.KD.ZG': 'Inflation, GDP deflator (annual %)',
 'FP.CPI.TOTL.ZG': 'Inflation, consumer prices (annual %)',
 'SE.SEC.CUAT.LO.ZS': 'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
 'SE.SEC.CUAT.UP.ZS': 'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)',
 'SE.SEC.CUAT.PO.ZS': 'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)',
 'SE.SEC.CMPT.LO.ZS': 'Lower secondary completion rate, total (% of relevant age group)',
 'SH.XPD.GHED.PC.CD': 'Domestic general government health expenditure per capita (current US$)',
 'SH.XPD.OOPC.PC.CD': 'Out-of-pocket expenditure per capita (current US$)',
 'SH.XPD.PVTD.PC.CD': 'Domestic private health expenditure per capita (current US$)'}

In [159]:
df_final.head(3)

  Pais   Año       Indicador  Valor
0  AFG  1987  FP.CPI.TOTL.ZG    NaN
1  AFG  1988  FP.CPI.TOTL.ZG    NaN
2  AFG  1989  FP.CPI.TOTL.ZG    NaN

In [160]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49104 entries, 0 to 49103
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pais       49104 non-null  object
 1   Año        49104 non-null  int64
 2   Indicador  49104 non-null  object
 3   Valor      42081 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.5+ MB

In [161]:
df_final['Indicador_name'] = df_final['Indicador'].map(mi_diccionario)
df_final

,Pais,Año,Indicador,Valor,Indicador_name
0,AFG,1987,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
1,AFG,1988,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
2,AFG,1989,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
3,AFG,1990,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
4,AFG,1991,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
...,...,...,...,...,...
49099,ZAF,2018,SP.URB.TOTL,38047715.0,Urban population
49100,ZAF,2019,SP.URB.TOTL,38834681.0,Urban population
49101,ZAF,2020,SP.URB.TOTL,39605450.0,Urban population
49102,ZAF,2021,SP.URB.TOTL,40295863.0,Urban population
49103,ZAF,2022,SP.URB.TOTL,40928486.0,Urban population

In [162]:
df_final.loc[(df_final['Pais'] == "SGP") & (df_final['Indicador_name'] == "Rural population growth (annual %)"), 'Valor'] = 0

In [163]:
df_final.loc[(df_final['Pais'] == "SGP") & (df_final['Indicador_name'] == "Rural population growth (annual %)")]

      Pais   Año       Indicador  Valor                      Indicador_name
45684  SGP  1987  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45685  SGP  1988  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45686  SGP  1989  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45687  SGP  1990  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45688  SGP  1991  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45689  SGP  1992  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45690  SGP  1993  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45691  SGP  1994  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45692  SGP  1995  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45693  SGP  1996  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45694  SGP  1997  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45695  SGP  1998  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45696  SGP  1999  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45697  SGP  2000  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45698  SGP  2001  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45699  SGP  2002  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45700  SGP  2003  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45701  SGP  2004  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45702  SGP  2005  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45703  SGP  2006  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45704  SGP  2007  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45705  SGP  2008  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45706  SGP  2009  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45707  SGP  2010  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45708  SGP  2011  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45709  SGP  2012  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45710  SGP  2013  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45711  SGP  2014  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45712  SGP  2015  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45713  SGP  2016  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45714  SGP  2017  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45715  SGP  2018  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45716  SGP  2019  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45717  SGP  2020  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45718  SGP  2021  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)
45719  SGP  2022  SP.RUR.TOTL.ZG    0.0  Rural population growth (annual %)

In [164]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49104 entries, 0 to 49103
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pais            49104 non-null  object
 1   Año             49104 non-null  int64
 2   Indicador       49104 non-null  object
 3   Valor           42117 non-null  float64
 4   Indicador_name  49104 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.9+ MB

In [165]:
df_agg = df_final.groupby('Indicador')['Valor'].count().to_frame().sort_values('Valor', ascending=False)
df_agg_filtrado = df_agg[df_agg['Valor']> 1000].reset_index()
indicadores = df_agg_filtrado['Indicador']
indicadores

0     SP.POP.0014.MA.IN
1        SP.POP.0014.TO
2           SP.URB.GROW
3        SP.RUR.TOTL.ZG
4           SP.RUR.TOTL
5     SP.POP.TOTL.MA.IN
6     SP.POP.TOTL.FE.IN
7           SP.POP.TOTL
8        SP.POP.65UP.TO
9     SP.POP.65UP.MA.IN
10    SP.POP.65UP.FE.IN
11       SP.POP.1564.TO
12    SP.POP.1564.MA.IN
13    SP.POP.1564.FE.IN
14          SP.URB.TOTL
15    SP.POP.0014.FE.IN
16          SP.POP.GROW
17       NY.GDP.PCAP.CD
18    NY.GDP.DEFL.KD.ZG
19    NY.GDP.PCAP.KD.ZG
20    SP.DYN.LE00.MA.IN
21       SP.DYN.LE00.IN
22    SP.DYN.LE00.FE.IN
23       FP.CPI.TOTL.ZG
Name: Indicador, dtype: object

In [166]:
df_final = df_final[df_final['Indicador'].isin(indicadores)]
df_final

,Pais,Año,Indicador,Valor,Indicador_name
0,AFG,1987,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
1,AFG,1988,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
2,AFG,1989,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
3,AFG,1990,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
4,AFG,1991,FP.CPI.TOTL.ZG,NaN,"Inflation, consumer prices (annual %)"
...,...,...,...,...,...
49099,ZAF,2018,SP.URB.TOTL,38047715.0,Urban population
49100,ZAF,2019,SP.URB.TOTL,38834681.0,Urban population
49101,ZAF,2020,SP.URB.TOTL,39605450.0,Urban population
49102,ZAF,2021,SP.URB.TOTL,40295863.0,Urban population
49103,ZAF,2022,SP.URB.TOTL,40928486.0,Urban population

In [167]:
paises = df_final['Pais'].unique().tolist()
indicadores = df_final['Indicador_name'].unique().tolist()
anios = df_final['Año'].unique().tolist()

In [168]:
df_final.loc[(df_final['Pais']=="AFG") & (df_final['Indicador_name']=="GDP per capita growth (annual %)")]

,Pais,Año,Indicador,Valor,Indicador_name
4752,AFG,1987,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4753,AFG,1988,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4754,AFG,1989,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4755,AFG,1990,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4756,AFG,1991,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4757,AFG,1992,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4758,AFG,1993,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4759,AFG,1994,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4760,AFG,1995,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4761,AFG,1996,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4762,AFG,1997,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4763,AFG,1998,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4764,AFG,1999,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4765,AFG,2000,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4766,AFG,2001,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4767,AFG,2002,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)
4768,AFG,2003,NY.GDP.PCAP.KD.ZG,0.927029,GDP per capita growth (annual %)
4769,AFG,2004,NY.GDP.PCAP.KD.ZG,-2.497255,GDP per capita growth (annual %)
4770,AFG,2005,NY.GDP.PCAP.KD.ZG,7.321874,GDP per capita growth (annual %)
4771,AFG,2006,NY.GDP.PCAP.KD.ZG,1.084988,GDP per capita growth (annual %)
4772,AFG,2007,NY.GDP.PCAP.KD.ZG,11.803383,GDP per capita growth (annual %)
4773,AFG,2008,NY.GDP.PCAP.KD.ZG,1.864754,GDP per capita growth (annual %)
4774,AFG,2009,NY.GDP.PCAP.KD.ZG,17.143534,GDP per capita growth (annual %)
4775,AFG,2010,NY.GDP.PCAP.KD.ZG,11.099220,GDP per capita growth (annual %)
4776,AFG,2011,NY.GDP.PCAP.KD.ZG,-3.211364,GDP per capita growth (annual %)
4777,AFG,2012,NY.GDP.PCAP.KD.ZG,8.247144,GDP per capita growth (annual %)
4778,AFG,2013,NY.GDP.PCAP.KD.ZG,2.002522,GDP per capita growth (annual %)
4779,AFG,2014,NY.GDP.PCAP.KD.ZG,-0.964803,GDP per capita growth (annual %)
4780,AFG,2015,NY.GDP.PCAP.KD.ZG,-1.666416,GDP per capita growth (annual %)
4781,AFG,2016,NY.GDP.PCAP.KD.ZG,-0.345802,GDP per capita growth (annual %)
4782,AFG,2017,NY.GDP.PCAP.KD.ZG,-0.253594,GDP per capita growth (annual %)
4783,AFG,2018,NY.GDP.PCAP.KD.ZG,-1.688577,GDP per capita growth (annual %)
4784,AFG,2019,NY.GDP.PCAP.KD.ZG,0.932833,GDP per capita growth (annual %)
4785,AFG,2020,NY.GDP.PCAP.KD.ZG,-5.364666,GDP per capita growth (annual %)
4786,AFG,2021,NY.GDP.PCAP.KD.ZG,-22.929194,GDP per capita growth (annual %)
4787,AFG,2022,NY.GDP.PCAP.KD.ZG,NaN,GDP per capita growth (annual %)

In [169]:
for pais in paises:
    for indicador in indicadores:
        df_pais_indicador = df_final[(df_final['Pais']==pais) & (df_final['Indicador_name']==indicador)]
        nulos = df_pais_indicador['Valor'].isna().sum()
        if(nulos > 0.4*(len(anios))):
            indices = df_pais_indicador.index
            df_final.drop(index=indices, inplace=True)
        else:
            df_final.loc[(df_final['Pais']==pais) & (df_final['Indicador_name']==indicador) & (df_final['Valor'].isna()), 'Valor'] = df_pais_indicador['Valor'].mean()

C:\Users\User\AppData\Local\Temp\ipykernel_5848\2602934158.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.drop(index=indices, inplace=True)

In [170]:
df_final

,Pais,Año,Indicador,Valor,Indicador_name
108,AUS,1987,FP.CPI.TOTL.ZG,8.533022e+00,"Inflation, consumer prices (annual %)"
109,AUS,1988,FP.CPI.TOTL.ZG,7.215940e+00,"Inflation, consumer prices (annual %)"
110,AUS,1989,FP.CPI.TOTL.ZG,7.533903e+00,"Inflation, consumer prices (annual %)"
111,AUS,1990,FP.CPI.TOTL.ZG,7.333022e+00,"Inflation, consumer prices (annual %)"
112,AUS,1991,FP.CPI.TOTL.ZG,3.176675e+00,"Inflation, consumer prices (annual %)"
...,...,...,...,...,...
49099,ZAF,2018,SP.URB.TOTL,3.804772e+07,Urban population
49100,ZAF,2019,SP.URB.TOTL,3.883468e+07,Urban population
49101,ZAF,2020,SP.URB.TOTL,3.960545e+07,Urban population
49102,ZAF,2021,SP.URB.TOTL,4.029586e+07,Urban population
49103,ZAF,2022,SP.URB.TOTL,4.092849e+07,Urban population

In [171]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37692 entries, 108 to 49103
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pais            37692 non-null  object
 1   Año             37692 non-null  int64
 2   Indicador       37692 non-null  object
 3   Valor           37692 non-null  float64
 4   Indicador_name  37692 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.7+ MB