In [27]:
import pandas as pd
import seaborn as sns
import plotly.express as px

In [28]:
df_pbi = pd.read_csv("../Data_preparada/PBI.csv")
df_poblacion_crecimiento = pd.read_csv("../Data_preparada/Data_Población_Crecimiento.csv")
df_poblacion_edad = pd.read_csv("../Data_preparada/Data_Población_Edad_Genero.csv")
df_poblacion_zona = pd.read_csv("../Data_preparada/Data_Población_Zona_Genero.csv")

In [29]:
df_final = pd.concat([df_pbi, df_poblacion_crecimiento,df_poblacion_edad, df_poblacion_zona]).reset_index(drop=True)

In [30]:
df_final

       país Name   Año                            factor_(serie)         Valor
0       Alemania  1987  Crecimiento del PIB per cápita (% anual)  1.246500e+00
1       Alemania  1988  Crecimiento del PIB per cápita (% anual)  3.302864e+00
2       Alemania  1989  Crecimiento del PIB per cápita (% anual)  3.096180e+00
3       Alemania  1990  Crecimiento del PIB per cápita (% anual)  4.351639e+00
4       Alemania  1991  Crecimiento del PIB per cápita (% anual)  4.345220e+00
...          ...   ...                                       ...           ...
29731  Venezuela  2018                          Población, total  2.982565e+07
29732  Venezuela  2019                          Población, total  2.897168e+07
29733  Venezuela  2020                          Población, total  2.849045e+07
29734  Venezuela  2021                          Población, total  2.819987e+07
29735  Venezuela  2022                          Población, total  2.830170e+07

[29736 rows x 4 columns]

In [31]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29736 entries, 0 to 29735
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   país Name       29736 non-null  object
 1   Año             29736 non-null  int64
 2   factor_(serie)  29736 non-null  object
 3   Valor           29736 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 929.4+ KB

In [32]:
df_final.to_csv("../Data_preparada/merge_data2.csv", index=False)