# Extraer Datos de la API

In [1]:
# importar librerías
import  pandas as pd
import wbgapi as wb

**Listas de los indicadores y países**

In [2]:
# Listas de los paises e indicadores
countries_list = [
                "AFG", "ARE", "ARG", "AUS", "AUT", "BFA", "BRA", "CAN", "CHE", "CHN",
                "COL", "CRI", "CUB", "DEU", "DNK", "DZA", "ECU", "EGY", "ESP", "FIN", 
                "FJI", "GBR", "GRC", "IND", "JPN", "KEN", "KHM", "MAR", "MEX", "NER", 
                "NLD", "NOR", "NPL", "NZL", "RUS", "RWA", "SAU", "SGP", "SLE", "TCD", 
                "USA", "VEN", "WSM", "ZAF"                
               ]

indicators_list = [
                 "SP.DYN.LE00.IN", "SP.DYN.LE00.FE.IN", "SP.DYN.LE00.MA.IN", "SP.POP.GROW",
                 "SP.RUR.TOTL.ZG", "SP.URB.GROW", "SP.POP.TOTL", "SP.URB.TOTL", "SP.RUR.TOTL",
                 "SP.POP.TOTL.MA.IN", "SP.POP.TOTL.FE.IN", "SP.POP.0014.TO", "SP.POP.0014.MA.IN",
                 "SP.POP.0014.FE.IN", "SP.POP.1564.TO", "SP.POP.1564.MA.IN", "SP.POP.1564.FE.IN",
                 "SP.POP.65UP.TO", "SP.POP.65UP.MA.IN", "SP.POP.65UP.FE.IN", "NY.GDP.PCAP.KD.ZG",
                 "NY.GDP.PCAP.CD", "NY.GDP.DEFL.KD.ZG", "FP.CPI.TOTL.ZG", "SE.SEC.CUAT.LO.ZS",
                 "SE.SEC.CUAT.UP.ZS", "SE.SEC.CUAT.PO.ZS", "SE.SEC.CMPT.LO.ZS", "SH.XPD.GHED.PC.CD",
                 "SH.XPD.OOPC.PC.CD", "SH.XPD.PVTD.PC.CD"
                  ]

**Crear un dataframe con los países longitud, latitud, regiones**

In [3]:
countries = wb.economy.list()
df_countries = pd.DataFrame(countries)
# Generar Data Frame de los 34 paises a estudiar
df_countries = df_countries[df_countries['id'].isin(countries_list)][['id', 'value', 'region', 'longitude', 'latitude']].reset_index(drop=True)
df_countries

     id                 value region   longitude   latitude
0   AFG           Afghanistan    SAS   69.176100  34.522800
1   ARE  United Arab Emirates    MEA   54.370500  24.476400
2   ARG             Argentina    LCN  -58.417300 -34.611800
3   AUS             Australia    EAS  149.129000 -35.282000
4   AUT               Austria    ECS   16.379800  48.220100
5   BFA          Burkina Faso    SSF   -1.533950  12.360500
6   BRA                Brazil    LCN  -47.929200 -15.780100
7   CAN                Canada    NAC  -75.691900  45.421500
8   CHE           Switzerland    ECS    7.448210  46.948000
9   CHN                 China    EAS  116.286000  40.049500
10  COL              Colombia    LCN  -74.082000   4.609870
11  CRI            Costa Rica    LCN  -84.008900   9.637010
12  CUB                  Cuba    LCN  -82.366700  23.133300
13  DEU               Germany    ECS   13.411500  52.523500
14  DNK               Denmark    ECS   12.568100  55.676300
15  DZA               Algeria    MEA    3.050970  36.739700
16  ECU               Ecuador    LCN  -78.524300  -0.229498
17  EGY      Egypt, Arab Rep.    MEA   31.246100  30.098200
18  ESP                 Spain    ECS   -3.703270  40.416700
19  FIN               Finland    ECS   24.952500  60.160800
20  FJI                  Fiji    EAS  178.399000 -18.114900
21  GBR        United Kingdom    ECS   -0.126236  51.500200
22  GRC                Greece    ECS   23.716600  37.979200
23  IND                 India    SAS   77.225000  28.635300
24  JPN                 Japan    EAS  139.770000  35.670000
25  KEN                 Kenya    SSF   36.812600  -1.279750
26  KHM              Cambodia    EAS  104.874000  11.555600
27  MAR               Morocco    MEA   -6.870400  33.990500
28  MEX                Mexico    LCN  -99.127600  19.427000
29  NER                 Niger    SSF    2.107300  13.514000
30  NLD           Netherlands    ECS    4.890950  52.373800
31  NOR                Norway    ECS   10.738700  59.913800
32  NPL                 Nepal    SAS   85.315700  27.693900
33  NZL           New Zealand    EAS  174.776000 -41.286500
34  RUS    Russian Federation    ECS   37.617600  55.755800
35  RWA                Rwanda    SSF   30.058700  -1.953250
36  SAU          Saudi Arabia    MEA   46.697700  24.674800
37  SGP             Singapore    EAS  103.850000   1.289410
38  SLE          Sierra Leone    SSF  -13.213400   8.482100
39  TCD                  Chad    SSF   15.044500  12.104800
40  USA         United States    NAC  -77.032000  38.889500
41  VEN         Venezuela, RB    LCN  -69.837100   9.081650
42  WSM                 Samoa    EAS -171.752000 -13.831400
43  ZAF          South Africa    SSF   28.187100 -25.746000

**Dataframe con códigos de los países, los indicadores en columnas y la columna time con los años**

In [4]:
# dataframe con los indicadores como columnas y los años como filas
df_wdi = wb.data.DataFrame(indicators_list, countries_list, mrv=36, columns="series").reset_index() # most recent 35 years

In [5]:
df_wdi

,economy,time,FP.CPI.TOTL.ZG,NY.GDP.DEFL.KD.ZG,NY.GDP.PCAP.CD,NY.GDP.PCAP.KD.ZG,SE.SEC.CMPT.LO.ZS,SE.SEC.CUAT.LO.ZS,SE.SEC.CUAT.PO.ZS,SE.SEC.CUAT.UP.ZS,...,SP.POP.65UP.MA.IN,SP.POP.65UP.TO,SP.POP.GROW,SP.POP.TOTL,SP.POP.TOTL.FE.IN,SP.POP.TOTL.MA.IN,SP.RUR.TOTL,SP.RUR.TOTL.ZG,SP.URB.GROW,SP.URB.TOTL
0,AFG,YR1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111022.0,233845.0,-1.210190,10322758.0,5152650.0,5170108.0,8225793.0,-2.043746,2.128391,2096965.0
1,AFG,YR1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110633.0,233853.0,0.586318,10383460.0,5188060.0,5195399.0,8203141.0,-0.275758,3.898014,2180319.0
2,AFG,YR1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113325.0,240097.0,2.751877,10673168.0,5334609.0,5338559.0,8422410.0,2.637888,3.179585,2250758.0
3,AFG,YR1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113182.0,240267.0,0.202434,10694796.0,5346409.0,5348387.0,8429959.0,0.089590,0.623574,2264837.0
4,AFG,YR1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113494.0,241354.0,0.469880,10745167.0,5372208.0,5372959.0,8460100.0,0.356909,0.889255,2285067.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,ZAF,YR2018,4.517165,3.745754,7048.508112,0.285736,88.168823,NaN,NaN,NaN,...,1151914.0,3356734.0,1.225530,57339635.0,29517286.0,27822349.0,19291920.0,-0.264285,1.989500,38047715.0
1580,ZAF,YR2019,4.120246,4.638081,6688.774746,-0.987175,87.523720,81.804680,44.852650,69.697388,...,1183770.0,3456202.0,1.295074,58087055.0,29879107.0,28207948.0,19252374.0,-0.205198,2.047266,38834681.0
1581,ZAF,YR2020,3.210036,5.692615,5741.641249,-7.481093,90.218941,79.255142,NaN,49.127312,...,1203270.0,3528430.0,1.223179,58801927.0,30221143.0,28580784.0,19196477.0,-0.290761,1.965305,39605450.0
1582,ZAF,YR2021,4.611672,6.219017,7055.055176,3.870315,97.231331,83.926857,49.065762,73.290512,...,1200226.0,3546983.0,0.998920,59392255.0,30497646.0,28894608.0,19096392.0,-0.522736,1.728207,40295863.0
1583,ZAF,YR2022,7.039727,5.054293,6776.480077,1.187663,NaN,NaN,NaN,NaN,...,1183650.0,3529541.0,0.841058,59893885.0,30725879.0,29168006.0,18965399.0,-0.688320,1.557749,40928486.0

**Dataframe con el código de los indicadores y su nombre**

In [7]:
# obtener todos los códigos y los nombres de los indicadores seleccionados
cod_ind = []
name_ind = []
for indicator in indicators_list:
    ind = wb.series.get(indicator)
    cod_ind.append(ind["id"])
    name_ind.append(ind["value"])

In [8]:
# verifico si es la mmisma cantidad de códigos y nombres
print(len(cod_ind))
print(len(name_ind))

31
31

In [12]:
# creo un diccionario con las listas
dict_indicators = {
    "cod_indicator": cod_ind,
    "name_indicator": name_ind
}

In [13]:
# creo un dataframe con el diccionario
df_indicators = pd.DataFrame(dict_indicators)

In [14]:
# visualizar el dataframe resultante
df_indicators

        cod_indicator                                     name_indicator
0      SP.DYN.LE00.IN            Life expectancy at birth, total (years)
1   SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
2   SP.DYN.LE00.MA.IN             Life expectancy at birth, male (years)
3         SP.POP.GROW                       Population growth (annual %)
4      SP.RUR.TOTL.ZG                 Rural population growth (annual %)
5         SP.URB.GROW                 Urban population growth (annual %)
6         SP.POP.TOTL                                  Population, total
7         SP.URB.TOTL                                   Urban population
8         SP.RUR.TOTL                                   Rural population
9   SP.POP.TOTL.MA.IN                                   Population, male
10  SP.POP.TOTL.FE.IN                                 Population, female
11     SP.POP.0014.TO                        Population ages 0-14, total
12  SP.POP.0014.MA.IN                         Population ages 0-14, male
13  SP.POP.0014.FE.IN                       Population ages 0-14, female
14     SP.POP.1564.TO                       Population ages 15-64, total
15  SP.POP.1564.MA.IN                        Population ages 15-64, male
16  SP.POP.1564.FE.IN                      Population ages 15-64, female
17     SP.POP.65UP.TO                Population ages 65 and above, total
18  SP.POP.65UP.MA.IN                 Population ages 65 and above, male
19  SP.POP.65UP.FE.IN               Population ages 65 and above, female
20  NY.GDP.PCAP.KD.ZG                   GDP per capita growth (annual %)
21     NY.GDP.PCAP.CD                       GDP per capita (current US$)
22  NY.GDP.DEFL.KD.ZG                 Inflation, GDP deflator (annual %)
23     FP.CPI.TOTL.ZG              Inflation, consumer prices (annual %)
24  SE.SEC.CUAT.LO.ZS  Educational attainment, at least completed low...
25  SE.SEC.CUAT.UP.ZS  Educational attainment, at least completed upp...
26  SE.SEC.CUAT.PO.ZS  Educational attainment, at least completed pos...
27  SE.SEC.CMPT.LO.ZS  Lower secondary completion rate, total (% of r...
28  SH.XPD.GHED.PC.CD  Domestic general government health expenditure...
29  SH.XPD.OOPC.PC.CD  Out-of-pocket expenditure per capita (current ...
30  SH.XPD.PVTD.PC.CD  Domestic private health expenditure per capita...

**Dataframe con las categorías de los indicadores**

En esta sección relaciono los indicadores seleccionados con el id de los tópicos(categorías)  
esto para poder relacionar los indicadores seleccionados con los tópicos(categorías), relación  
que se hace mediante el id, el código siguiente recorre todos los tópicos(categorías), y relaciona  
el id y el value(nombre) del tópico(categoría), con el código de los indicadores seleccionados para el proyecto,  
si los indicadores coinciden con los tópicos(categorías), se agregan a una lista y en otra lista el id  
del tópico(categoría)  

**Nota**  
En este proceso se pudiera almacenar en una lista el nombre del tópico(categoría), pero se decide hacerlo  
por separado, ya que el proceso es largo, son 31 indicadores, en donde cada uno será revisado para ver a  
que tópico(categoría) pertenece, y en cada tópico(categoría) hay gran cantidad de indicadores.

In [15]:
topic_id = 1
indicators_code = []
category_id = []
i = 0
while topic_id <= 21:
    indicators_by_topic = wb.series.info(topic=topic_id)
    for item in indicators_by_topic.items:
        indicator_id = indicators_by_topic.items[i]['id']
        indicator_info = indicators_by_topic.items[i]['value']
        
        if indicator_id in indicators_list:
            indicators_code.append(indicator_id)
            category_id.append(topic_id)
        
        i += 1

    topic_id += 1
    i = 0
# print(indicators_code)
# print(category_id)

**Crear un diccionario con las listas para crear el dataframe**

In [16]:
# crear diccionario
dict_category_ind = {
    "indicators_code": indicators_code,
    "category_id": category_id
}

**Crear el dataframe**

In [17]:
df_indicator_category_id = pd.DataFrame(dict_category_ind)
df_indicator_category_id

      indicators_code  category_id
0         SP.RUR.TOTL            1
1      SP.RUR.TOTL.ZG            1
2   NY.GDP.PCAP.KD.ZG            3
3      NY.GDP.PCAP.CD            3
4      FP.CPI.TOTL.ZG            3
5   NY.GDP.DEFL.KD.ZG            3
6   SE.SEC.CUAT.LO.ZS            4
7   SE.SEC.CUAT.PO.ZS            4
8   SE.SEC.CUAT.UP.ZS            4
9   SE.SEC.CMPT.LO.ZS            4
10     FP.CPI.TOTL.ZG            7
11  SH.XPD.PVTD.PC.CD            8
12  SP.DYN.LE00.FE.IN            8
13  SP.POP.0014.FE.IN            8
14  SP.POP.1564.MA.IN            8
15     SP.POP.65UP.TO            8
16        SP.POP.TOTL            8
17  SH.XPD.GHED.PC.CD            8
18     SP.DYN.LE00.IN            8
19     SP.POP.1564.TO            8
20  SP.POP.65UP.MA.IN            8
21        SP.POP.GROW            8
22     SP.POP.0014.TO            8
23  SP.POP.1564.FE.IN            8
24  SP.POP.TOTL.MA.IN            8
25  SP.DYN.LE00.MA.IN            8
26  SH.XPD.OOPC.PC.CD            8
27  SP.POP.0014.MA.IN            8
28  SP.POP.65UP.FE.IN            8
29  SP.POP.TOTL.FE.IN            8
30  SP.DYN.LE00.FE.IN           15
31  SP.DYN.LE00.MA.IN           15
32        SP.URB.TOTL           16
33        SP.URB.GROW           16
34  SP.DYN.LE00.FE.IN           17
35  SE.SEC.CUAT.LO.ZS           17
36  SE.SEC.CUAT.PO.ZS           17
37  SE.SEC.CUAT.UP.ZS           17
38  SP.DYN.LE00.MA.IN           17
39        SP.POP.GROW           19
40        SP.POP.TOTL           19
41        SP.URB.TOTL           19
42        SP.URB.GROW           19

In [18]:
# verifico los tipos de datos, el id debe ser int
df_indicator_category_id.dtypes

indicators_code    object
category_id         int64
dtype: object

**Crear un dataframe con todos los tópicos(categorias), con id y nombre**

En este código se extraen los id y los nombres de los tópicos(categorías)

In [20]:
# guardar todos los tópicos en una variable
topics = {row['value']: row['id'] for row in wb.topic.list()}

# crear la lista category y llenarla con las claves
category = []
for element in topics.keys():
    category.append(element)


# crear la lista topics_id y llenarla con los ids
topic_ids = []
for value in topics.values():
    topic_ids.append(value)

In [26]:
# crear un diccionario con las listas de id y category
dict_category = {
    "category_id": topic_ids,
    "category": category
}

**Crear el dataframe**

In [27]:
df_category = pd.DataFrame(dict_category)
df_category

   category_id                         category
0            1  Agriculture & Rural Development
1            2                Aid Effectiveness
2            3                 Economy & Growth
3            4                        Education
4            5                  Energy & Mining
5            6                      Environment
6            7                 Financial Sector
7            8                           Health
8            9                   Infrastructure
9           10        Social Protection & Labor
10          11                          Poverty
11          12                   Private Sector
12          13                    Public Sector
13          14             Science & Technology
14          15               Social Development
15          16                Urban Development
16          17                           Gender
17          18      Millenium development goals
18          19                   Climate Change
19          20                    External Debt
20          21                            Trade

In [22]:
# verificar los tipos de datos
df_category.dtypes

id          object
category    object
dtype: object

In [28]:
# cambiar el tipo de dato de la columna id, para hacer el merge
df_category["category_id"] = pd.to_numeric(df_category["category_id"])

In [29]:
# verificar el cambio
df_category.dtypes

category_id     int64
category       object
dtype: object

In [30]:
# unir dataframes para visualizar código indicador, el id de la categoría(tópico) y su nombre
df_indicator_category = df_indicator_category_id.merge(df_category, on="category_id")
df_indicator_category

      indicators_code  category_id                         category
0         SP.RUR.TOTL            1  Agriculture & Rural Development
1      SP.RUR.TOTL.ZG            1  Agriculture & Rural Development
2   NY.GDP.PCAP.KD.ZG            3                 Economy & Growth
3      NY.GDP.PCAP.CD            3                 Economy & Growth
4      FP.CPI.TOTL.ZG            3                 Economy & Growth
5   NY.GDP.DEFL.KD.ZG            3                 Economy & Growth
6   SE.SEC.CUAT.LO.ZS            4                        Education
7   SE.SEC.CUAT.PO.ZS            4                        Education
8   SE.SEC.CUAT.UP.ZS            4                        Education
9   SE.SEC.CMPT.LO.ZS            4                        Education
10     FP.CPI.TOTL.ZG            7                 Financial Sector
11  SH.XPD.PVTD.PC.CD            8                           Health
12  SP.DYN.LE00.FE.IN            8                           Health
13  SP.POP.0014.FE.IN            8                           Health
14  SP.POP.1564.MA.IN            8                           Health
15     SP.POP.65UP.TO            8                           Health
16        SP.POP.TOTL            8                           Health
17  SH.XPD.GHED.PC.CD            8                           Health
18     SP.DYN.LE00.IN            8                           Health
19     SP.POP.1564.TO            8                           Health
20  SP.POP.65UP.MA.IN            8                           Health
21        SP.POP.GROW            8                           Health
22     SP.POP.0014.TO            8                           Health
23  SP.POP.1564.FE.IN            8                           Health
24  SP.POP.TOTL.MA.IN            8                           Health
25  SP.DYN.LE00.MA.IN            8                           Health
26  SH.XPD.OOPC.PC.CD            8                           Health
27  SP.POP.0014.MA.IN            8                           Health
28  SP.POP.65UP.FE.IN            8                           Health
29  SP.POP.TOTL.FE.IN            8                           Health
30  SP.DYN.LE00.FE.IN           15               Social Development
31  SP.DYN.LE00.MA.IN           15               Social Development
32        SP.URB.TOTL           16                Urban Development
33        SP.URB.GROW           16                Urban Development
34  SP.DYN.LE00.FE.IN           17                           Gender
35  SE.SEC.CUAT.LO.ZS           17                           Gender
36  SE.SEC.CUAT.PO.ZS           17                           Gender
37  SE.SEC.CUAT.UP.ZS           17                           Gender
38  SP.DYN.LE00.MA.IN           17                           Gender
39        SP.POP.GROW           19                   Climate Change
40        SP.POP.TOTL           19                   Climate Change
41        SP.URB.TOTL           19                   Climate Change
42        SP.URB.GROW           19                   Climate Change

In [ ]:
# exportar a csv para análisis aparte de ser necesario
df_1 = df_countries.to_csv("df_countries.csv")
df_2 = df_wdi.to_csv("df_wdi.csv")
df_3 = df_indicators.to_csv("df_indicators.csv")
df_4 = df_indicator_category_id.to_csv("df_indicator_category_id.csv")
df_5 = df_category.to_csv("df_category.csv")
df_6 = df_indicator_category.to_csv("df_indicator_category.csv")